{% extends 'blog/base.html' %}
{% include 'blog/includes/inc_menu.html' %}
{% block title %}Удаление записи{% endblock %}
<h2>Удаление записи</h2>
<p>Вы действительно хотите удалить {{ object.name }}?</p>
<div class="container">
    <div class="row">
        <div class="col">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body">
                        <form>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Подтвердить</button>
                        <a href="{% url 'blog: blog_list' %}" class="btn btn-primary">Отменить</a>
                        </form>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
